{% extends "mi_aplicacion/base.html" %}
{% block title %}Contactos{% endblock  %}
{% block content %}
<nav class="top-nav">
    <div class="shell"> <a href="#" class="nav-btn">HOMEPAGE<span></span></a> <span class="top-nav-shadow"></span>
      <ul>
        <li class="active"><span><a href="{% url 'ini' %}">Inicio</a></span></li>
        <li><span><a href="{% url 'estudiantes' %}">Curso</a></span></li>
        <li><span><a href="#">projects</a></span></li>
        <li><span><a href="#">solutions</a></span></li>
        <li><span><a href="#">jobs</a></span></li>
        <li><span><a href="#">blog</a></span></li>
        <li><span><a href=" {% url 'contactos' %} ">Contactos</a></span></li>
      </ul>
    </div>
  </nav>
   <h1>Estudiantes del curso: {{curso.nombre}}</h1>
   <p>Fecha inicio: {{curso.fecha_inicio}}</p>

   {% comment %} <ul>
        {% for estudiante in estudiantes %}
            <li>{{estudiante.nombre}}</li>
        {% empty %}
            <p>No hay datos registrados</p>
        {% endfor %}

   </ul> {% endcomment %}

   <table border="1">
    <tr>
        <th>Nombre</th>    
        <th>Correo</th>    
        <th>Nro Celular</th>    
    </tr>
    {% for estudiante in estudiantes %}
    <tr>
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.correo}}</td>
        <td>{{estudiante.celular}}</td>
    </tr>
    {% endfor %}
</table>



{% endblock  %}
