{% extends "mi_aplicacion/base.html" %}
{% block title %}Productos{% endblock  %}

{% block content %}
    
    <h2>Lista de productos</h2>
    <ol>
        {% for producto in productos %}
            <li> {{producto.nombre}}</li>
        {% endfor %}
    </ol>

    <h2>Tabla de productos</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>    
            <th>Precio</th>    
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock  %}
